.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100vw;
  height: 100vh;
  white-space: nowrap;
  box-sizing: border-box;
  font-size: 3em;
  font-weight: 700;
  overflow: hidden;
}

.bg_green {
  background-color: greenyellow;
}

.bg_purple {
  background-color: #44aede;
}

.bg_orange {
  background-color: orange;
}

.display {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.display4 {
  font-size: 39vw;

  @media screen and (max-height: 480px) {
    font-size: 25vw;
  }
}

.display5 {
  font-size: 33vw;

  @media screen and (max-height: 480px) {
    font-size: 25vw;
  }
}