.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100vw;
  height: 100vh;
  white-space: nowrap;
  box-sizing: border-box;
  font-size: 3em;
  font-weight: 700;
}

.bg_green {
  background-color: greenyellow;
}

.bg_purple {
  background-color: #68c4eeab;
}

.bg_orange {
  background-color: orange;
}

.display {
  max-width: 100%;
}

.display4 {
  font-size: 39vw;
}

.display5 {
  font-size: 36vw;
}