.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100vw;
  height: 100vh;
  white-space: nowrap;
  box-sizing: border-box;
  font-size: 3em;
  font-weight: 700;
  overflow: hidden;

  @media (min-height: 480px) and (min-width: 1920px) {
    flex-direction: row;
    gap: 1em;
  }
}

.bg_green {
  background-color: greenyellow;
}

.bg_purple {
  background-color: #44aede;
}

.bg_orange {
  background-color: orange;
}

.bg_outdated {
  filter: invert(1);
}

.display {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.display4 {
  font-size: 42vw;

  @media (min-height: 480px) and (min-width: 1920px) {
    font-size: 25vw;
  }
}

.display5 {
  font-size: 36vw;

  @media (min-height: 480px) and (min-width: 1920px) {
    font-size: 22vw;
  }
}

.chart {
  position: relative;
  transform: scale(1.2);
  margin: -1em 0 1em;
  display: none;

  @media (min-height: 480px) and (min-width: 1920px) {
    display: block;
  }
}

.updated {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 100vw;
  padding: 0 0.5em;
  font-size: 0.5em;
  white-space: break-spaces;
  box-sizing: border-box;

  @media (min-width: 420px) {
    font-size: 0.75em;
    padding: 0 0.2em;
  }

  @media (min-height: 480px) and (min-width: 1920px) {
    font-size: 1.2em;
  }
}