@tailwind components;
@tailwind utilities;

html {
    margin: 0;
}

body {
    margin: 0;
    font-family: "Roboto", 'Share', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}